.App {
  text-align: center;
  background-color: #607428;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
  min-height: 100vh;
}
.header-container {
  background-color: #ffffff;
  border-style: solid;

  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.dice-button {
  aspect-ratio: 1;
}
.nav-bar-container {
  display: flex;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 10px;

  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.items-container {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 10px;
  background-color: #ffffff;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}
.dice-container {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.categories {
  display: grid;
}

.category-list {
  display: grid;
  border-style: solid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.comments-container {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 10px;
  background-color: #ffffff;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.categories-container {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    background-color: #607428;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
      "header"
      "nav"
      "content";
    min-height: 100vh;
  }

  .items-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .dice-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-gap: 10px;
    gap: 10px;
    /* grid-auto-rows: minmax(200px, auto); */
    border-style: solid;
    border-radius: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 750px;
  }
  .dice-button {
    background-color: black;
    aspect-ratio: 1;
    width: 50%;
    border-style: solid;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;
    border-radius: 60%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
